<div class="container">
  <div class="row">
    <div class="col">
      <h3>Prueba del ciclo de vida de un evento.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Revisar la consola del navegador (f12)</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button"
              class="btn btn-primary"
              (click)="test()">Click!</button></div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Haz click en el botón y ve cómo van ejecutándose los distintos métodos</h6>
    </div>
  </div>
</div>
